[Unit]
Description=Self hosted Pastebin
After=network.target

[Service]
User=alpha
WorkingDirectory=/home/alpha
ExecStart=/home/alpha/pastebin
Restart=always

[Install]
WantedBy=multi-user.target
